@import url("https://fonts.googleapis.com/css2?family=Arbutus&family=Archivo+Black&family=Dosis&family=Open+Sans&family=Rubik+Glitch&family=Rubik+Vinyl&family=Trade+Winds&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Rubik Vinyl", system-ui;
  /*background: radial-gradient(at top, red, rgb(207, 7, 7), rgb(63, 1, 1));*/
  background-image: url("../imagenes/fatal.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(0, 0, 0, 0.918);
  overflow: hidden;
}

h2{
  text-align: center;
  font-size: 50px;
}
h3{
  text-align: center;
  font-size: 50;
}
nav {
  margin: 0 auto;
  width: 1100px;
  /*background: black;*/
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: space-around;
}

nav a {
  margin-top: 10px;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  width: 90%;
  text-align: center;
  font-weight: 300;
}

nav a:nth-child(1),
nav a:nth-child(4) {
  border-right: #444 1px solid;
}

.link_activo {
  color: red;
}

.logo {
  font-size: 30px;
  letter-spacing: 4px;
  color: red;
}

.contenedor {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.contenedor .page .multimedia a {
  color: #f3f3f8;
  text-decoration: none;
  display: inline-flex;
  list-style: none !important;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  list-style: none !important;
}

.contenido .link-sin-subrayado {
  text-decoration: none;
}

.contenedor .page {
  width: 100%;
  height: 10vh;
  top: 100px;
  left: 0;
  /*background: linear-gradient(15deg, black 90%, white 90%);*/
  /*background: rgba(255, 255, 255, 0.04);*/
  position: absolute;
  /*box-shadow: 0px 0px 40px rgb(0, 0, 0, 561);*/
  /*box-shadow: 0px 4px 30px rgb(0, 0, 0, 0.1);*/
  backdrop-filter: blur(0.2px);
  -webkit-backdrop-filter: blur(0.2px);
  border-radius: 16px;
  /*border: 1px solid rgba(255, 255, 255, 0.1);*/
  transform: translate(150%);
}

.contenedor .page .contenido {
  color: white;
  padding: 2px;
}

.contenedor .page .contenido p {
  columns: 3;
}

.contenedor .page_activo {
  transform: translateX(0%);
}

.contenedor .page .contenido_animado {
  /*background: linear-gradient(to right, white 50%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 100%);*/
  color: aliceblue;
  font-family: "Rubik Vinyl", system-ui;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido_animado h1 {
  font-size: 90px;
  animation: texto 9s ease-in-out infinite;
}
.contenedor .page .contenido-galeria .imagen-galeria img {
  padding: 20px;
}

@keyframes texto {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes page_entrada {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes page_salida {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-150%);
  }
}
/*MOBILE START*/

@media (max-width: 1200px) {
  .contenedor .page .contenido{
    margin: 0;
  }
}

@media (max-width: 450px) {
  .contenedor .contenido .page{
    font-size: 15px;
    text-align: center;
  }

  .contenedor .contenido .page {
    flex-flow: column;
    gap: 10px;
  }

  .contenedor .contenido .page {
    width: 100%;
  }

  .contenedor .contenido .page {
    font-size: 15px;
    text-align: center;
  }
}

/*MOBILE ENDS*/
