@import url("https://fonts.googleapis.com/css2?family=Arbutus&family=Archivo+Black&family=Dosis&family=Open+Sans&family=Rubik+Glitch&family=Rubik+Vinyl&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&family=Righteous&family=Sarala:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Rubik Vinyl", system-ui;
  /*background: radial-gradient(at top, red, rgb(207, 7, 7), rgb(63, 1, 1));*/
  background-image: url("../imagenes/fatal.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(0, 0, 0, 0.918);
  /*overflow: hidden;*/
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
table{
	margin: auto;
}
.header h1{
  color: white;
  font-size: 50px;
  text-align: center;
}

.imagen-header {
  flex: 1 1 350px;
  height: 485px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(54, 54, 54, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px;
}



/* {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
            text-transform: capitalize;
        }*/

/* FIRST VIDEO START*/
.container {
  max-width: 1500px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 60px;
}

.container .main-video-container {
  flex: 1 1 700px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(54, 54, 54, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.container .main-video-container .main-video {
  width: 100%;
  margin-bottom: 7px;
  border-radius: 5px;
}

.container .main-video-container .main-vid-title {
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
}
/* FIRST VIDEO END*/

/*VIDEO LIST START*/

.container .video-list-container {
  flex: 1 1 350px;
  height: 485px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(54, 54, 54, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px;
}

.container .video-list-container::-webkit-scrollbar {
  width: 10px;
}

.container .video-list-container::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

.container .video-list-container .list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: #000;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container .video-list-container .list:last-child {
  margin-bottom: 0;
}

.container .video-list-container .list.active {
  background-color: #444;
}

.container .video-list-container .list.active.list-title {
  color: #fff;
}

.container .video-list-container .list .list-video {
  width: 100px;
  border-radius: 5px;
}

.container .video-list-container .list .list-title {
  font-size: 17px;
  color: #fff;
}

/*VIDEO LIST END*/

/*MOBILE START*/

@media (max-width: 1200px) {
  .container {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .container .main-video-container .main-vid-title {
    font-size: 15px;
    text-align: center;
  }

  .container .video-list-container .list {
    flex-flow: column;
    gap: 10px;
  }

  .container .video-list-container .list .list-video {
    width: 100%;
  }

  .container .video-list-container .list .list-title {
    font-size: 15px;
    text-align: center;
  }
}

/*MOBILE ENDS*/

nav {
  margin: auto;
  width: 100%;
  /*background: black;*/
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 80px 80px 90px 90px;
  display: flex;
  justify-content: space-around;
  /*justify-content: center;*/
  /*display: inline-block;
  padding: 15;*/
  position: fixed;
}

nav a {
  margin-top: 40px;
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 20px;
  width: 90%;
  text-align: center;
  font-weight: 300;
  /*padding: 20px*/
}

nav a:nth-child(1),
nav a:nth-child(4) {
  border-right: #444 1px solid;
}

.link_activo {
  color: red;
}

.logo {
  font-size: 30px;
  letter-spacing: 4px;
  color: red;
}

.contenedor {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.contenedor .page .multimedia a {
  color: #f3f3f8;
  text-decoration: none;
  display: inline-flex;
  list-style: none !important;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  list-style: none !important;
}

.link-sin-subrayado {
  text-decoration: none;
}

.contenedor .page {
  width: 100%;
  height: 50vh;
  top: 100px;
  left: 0;
  /*background: linear-gradient(15deg, black 90%, white 90%);*/
  background: rgba(255, 255, 255, 0.04);
  position: absolute;
  /*box-shadow: 0px 0px 40px rgb(0, 0, 0, 561);*/
  box-shadow: 0px 4px 30px rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(0.2px);
  -webkit-backdrop-filter: blur(0.2px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate(150%);
}

.contenedor .page .contenido {
  color: white;
  padding: 50px;
}

.contenedor .page .contenido p {
  columns: 3;
}

.contenedor .page_activo {
  transform: translateX(0%);
}

.contenedor .page .contenido_animado {
  /*background: linear-gradient(to right, white 50%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 100%);*/
  color: aliceblue;
  font-family: "Rubik Vinyl", system-ui;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido_animado h1 {
  font-size: 60px;
  animation: texto 6s ease-in-out infinite;
}

@keyframes texto {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes page_entrada {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes page_salida {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-150%);
  }
}
